# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
parent.iml
another/another.iml
another/target
common/common.iml
common/target
kafka/kafka.iml
kafka/target
quartz-cluster/quartz-cluster.iml
quartz-cluster/target
soap/soap.iml
soap/target
baidu-voice/baidu-voice.iml
baidu-voice/target
baidu-voice/src/main/java/cn/jxdog/miscellaneous/baidu/voice/core/common/Constant.java
cloud/cloud.iml
cloud/target
cloud/finchley-eureka-server/finchley-eureka-server.iml
cloud/finchley-eureka-server/target
cloud/finchley-eureka-client/finchley-eureka-client.iml
cloud/finchley-eureka-client/target
